@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
  margin: 0;
  padding: 0;
  border:0;
}
.App {
  font-family: 'Bebas Neue', cursive;
  display: flex;
  height: 100vh;
}
.placar{
  width: 50%;
}
.square{
  color: white;
  align-items: center;
  text-align: center;
  font-size: 18em;
  background-color: black;
  height: 90%;
}
.btn{
text-align: center;
padding: 15px;
font-size: 1em;
}

.start{
  position: absolute;
  z-index: 99;
  top:0;
  color: white;
  padding:10px;
}

